# Exercise 1: Accept numbers from a user
#### Write a program to accept two numbers from the user and calculate multiplication

In [1]:
num1 = input("Enter the numbers: ")
num2 = input("Enter the numbers: ")

print("The numbers enter by you are:", num1, num2)

Enter the numbers: 12
Enter the numbers: 23
The numbers enter by you are: 12 23

# Exercise 2: Display three string “Name”, “Is”, “James” as “Name** Is** James”

In [2]:
print("Name", "is", "James", sep='**')

Name**is**James

# Exercise 3: Convert Decimal number to octal using print() output formatting

In [3]:
num = 10
print("The octol number is: "'%o' % num)

The octol number is: 12

# Exercise 4: Display float number with 2 decimal places using print()

In [4]:
n = 458.541315
print(round(n,2))

458.54

# Exercise 5: Accept a list of 5 float numbers as an input from the user

In [1]:
list_inp = []
n = int(input("Enter the number of elements: "))

for i in range(n):
    ele = float(input("Enter the elements: "))
    list_inp.append(ele)
    
print("Your list is: ", list_inp)

Enter the number of elements: 3
Enter the elements: 123
Enter the elements: 34
Enter the elements: 21
Your list is:  [123.0, 34.0, 21.0]

# Exercise 6 Accept any three string from one input() call

In [4]:
name, age, height = input("Enter your name age and height: ").split()
print("Name: ", name)
print("Age: ", age)
print("Height: ", height)

Enter your name age and height: Python 10 176
Name:  Python
Age:  10
Height:  176

# Exercise 7: Format variables using a string.format() method.

In [7]:
totalMoney = 1000
quantity = 2
price = 450

join_statement = "I have {0} rupees and I can buy {1} footballs of worth {2} rupees each"
print(join_statement.format(totalMoney, quantity, price))

I have 1000 rupees and I can buy 2 footballs of worth 450 rupees each